
body {
  background-image: url(https://cdn.pixabay.com/photo/2019/11/01/11/08/landscape-4593909_1280.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;

}


